.slider {
    overflow-y: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    margin-top: 50px;
}

.slider.closed {
    max-height: 0;
}

.form-table th {
    width: 250px !important;
    float: left;
    padding: 25px 10px !important;
}

.form-table td {
    width: 500px !important;
    float: left;
    padding: 25px 10px !important;
}

.wp-admin input[type=text] {
    width: 300px;
}

.wp-admin input[type=number], .wp-admin select {
    width: 300px;
}

input[type=radio], input[type=checkbox] {
    width: 16px !important;
}

.select_category {
    width: 80% !important;
}

.dashicons {
    vertical-align: middle;
!important;
}

.table1, .table2, .table3 {
    cursor: pointer;
}

.easy-filtering-generate{
    margin-top: 20px !important;
}

.piece{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

#card-preview{
    border: 1px solid #ccc;
    padding: 0 10px;
    background: #fff;
}

.table_container{
    margin-bottom: 20px;
}

.pieces_container, #card-generate, #card-preview{
    border:1px solid #ccc;
    width: 25%;
    float: left;
    margin-right:5%;
    min-height: 300px;
    padding: 0 10px;
}

.pieces_container h3{
    margin: 10px;
}
/*
#card-generate, #card-preview{
    min-height: 300px;
    border:1px solid #ccc;
    width: 25%;
    float: left;
}
*/
.unsortable{
    margin: 10px;
}
.easy-filtering_page_easy-filtering-help .table_header{
    cursor: pointer;
    background: #fff;
    padding: 9px !important;
    border: 1px solid #ccc;
}

label{
    margin-right: 25px;
}

.preview-piece {

    margin: 10px 0;
    display: inline-table;
    width: 100%;

}

.preview-piece img{
    width: 100%;
    height: auto;
}

.card-title{
    line-height: 20px;
    text-decoration: none !important;
    font-size: 20px;
    color: #111;
    font-weight: lighter;
}

.card-link{
    text-decoration: none !important;
    font-size: 20px;
    color: #111;
    font-weight: lighter;
}

.tag-block-card {
    float: left;
    list-style: none;
    padding: 0 10px;
    margin-right: 5px;
    border: 1px solid red;
    background: white;
    color: red;
    border-radius: 5px;
}