/* font-family: tipografia
    border-width: ancho de la tabla (T, R, B, L)
    border-color: color del borde
    border-style: estilo del borde
    border-collapse: separacion del borde
    margin: margen de la tabla
*/
table {
    font-family: Arial, Helvetica, sans-serif;
    border-width: .3rem 30mm 15px 0;
    border-color: red;
    border-style: dashed;
    border-collapse:collapse;
    margin: 30px 0 0 0;
}

/* border: tamaño, estilo y color del borde de la celda
    padding: relleno de la celda
    width: ancho de la celda
*/
td {
    border: 2px dotted green;
    padding: 10px 5px;
    width: 100px;
}

/* font-weight: grosor de la tipografia
    text-align: alineacion del texto
*/
.amarillo {
    background-color: yellow;
    font-weight: bold;
    text-align: center;
}
